.menu {
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(31, 35, 41, 0.1);
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid #dee0e3;
  overflow-y: overlay;
  overflow-x: hidden;
  max-height: 100%;

  &-inner {
    display: flex;
    padding: 8px;
    flex-direction: column;
    width: 230px;

    &-item {
      padding: 4px;
      border-radius: 4px;
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;

      &-active {

        .menu-inner-item-icon,
        .menu-inner-item-text,
        .menu-inner-item-suffix {
          color: #336df4;
        }

        .menu-inner-item-suffix {
          font-size: 16px;
        }
      }

      &-icon {
        flex: none;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-start;
        height: 24px;
        min-width: 24px;
        font-size: 18px;
      }

      &-text {
        flex: 1;
        min-width: 0;
        margin-left: 16px;
        color: #1f2329;
        font-size: 14px;
        line-height: 22px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-right: 4px;
        position: relative;
      }

      &-suffix {
        display: flex;
      }

      &:hover {
        &:not(.menu-inner-item-disabled) {
          background-color: rgba(31, 35, 41, .08);
        }
      }

      &-disabled {
        background-color: #fff;
        cursor: not-allowed;

        .menu-inner-item-icon {
          opacity: 0.5;
        }

        .menu-inner-item-text,
        .menu-inner-item-suffix {
          color: #bbbfc4;
        }
      }
    }

    &-devider {
      border-bottom: 1px solid #dee0e3;
      margin: 4px -8px
    }
  }

}