.button {
  position: relative;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 0;
  cursor: pointer;
  outline: none;

  &:before {
    content: "";
    border: 1px solid #d0d3d6;
    transform: scale(.5);
    transform-origin: 0 0;
    width: 42px;
    height: 44px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 4px;
  }

  &:hover {
    border-color: #c2d4ff;

    &:before {
      display: none;
    }
  }

  &-selected {
    border-color: #336df4;

    &:hover {
      border-color: #336df4;
    }

    &:before {
      display: none;
    }
  }
}